@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !scroll-smooth;
  }
}
.borderBW {
  @apply border border-black border-opacity-10 dark:border-white dark:border-opacity-10;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #17181c;
}
.borderBW {
  @apply border border-black border-opacity-5 dark:border-white dark:border-opacity-5;
}
.borderbBW {
  @apply border-b-black border-opacity-5 dark:border-b-white dark:border-opacity-5;
}
