@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBW {
  @apply border border-black border-opacity-5 dark:border-white dark:border-opacity-5;
}
.borderbBW {
  @apply border-b border-b-black border-opacity-5 dark:border-b-white dark:border-opacity-5;
}

.primaryText {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-black/90 to-black/60 dark:invert;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #17181c;
}
